/* LEFT OFF @ 
-mobile
*/

:root {
  font-family: "Rubik", sans-serif;
  color: white;
  --cardRadius: 15px;
  --veryDarkBlue: hsl(226, 43%, 10%);
  --infoCardBgColor: hsl(235, 46%, 20%);
  --cardHoverBgColor: hsl(235, 45%, 61%);
  --paleBlue: hsl(236, 100%, 87%);
  /* --cardMargin: 25px; */
  --cardPadding: 15px 30px;
  --transitionTime: 0.5s;
  --mainFontSize: 15px;
  --desktopContsWidth: 255px;
  --desktopCardHeight: 170px;
  --desktopCardWidth: 195px;
}
body {
  background-color: var(--veryDarkBlue);
  font-size: var(--mainFontSize);
}
.mainCont {
  width: 1150px;
  height: 525px;
  margin: 50px;
  display: flex;
}
/* ~~~~~~~~~PROFILE CARD~~~~~~~~~~ */
.profileReportTypeCont {
  width: var(--desktopContsWidth);
}
.profileCard {
  background-color: hsl(246, 80%, 60%);
  border-radius: var(--cardRadius);
  padding: 30px;
  height: 295px;
  position: absolute;
  z-index: 1;
  width: var(--desktopCardWidth);
}
.profileImgCont {
  border: 3px solid white;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
.profileCard img {
  height: 100%;
}
.reportForCont {
  display: flex;
  flex-direction: column;
  color: var(--paleBlue);
  margin-top: 40px;
}
.reportForCont h1 {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}
.reportForCont h2 {
  font-weight: 300;
  font-size: 38px;
  margin: 0;
  color: white;
  letter-spacing: 1px;
}
/* ~~~~~~~~~REPORT TYPE CARD~~~~~~~~~~ */
.reportTypeCard {
  background-color: var(--infoCardBgColor);
  border-radius: var(--cardRadius);
  height: var(--desktopCardHeight);
  padding: 30px 30px 0 30px;
  position: absolute;
  z-index: 0;
  top: 370px;
  width: var(--desktopCardWidth);
}
.reportTypeCard a {
  transition: var(--transitionTime);
  color: var(--cardHoverBgColor);
  text-decoration: none;
}
.reportTypeCard a:hover {
  transition: var(--transitionTime);
  color: white;
}
.reportTypeCard h3 {
  font-size: var(--cardHeaderFontSize);
  font-weight: 300;
  font-size: 18px;
  padding-top: 8px;
}
/* ~~~~~~~~~VARIOUS REPORT CARDSSSSS PLURAL CONTAINER~~~~~~~~~~ */
.reportsCont {
  display: flex;
  flex-direction: column;
}
.reportsRow1,
.reportsRow2 {
  display: flex;
}
.reportsRow2 {
  margin-top: 170px;
}
/* ~~~~~~~~~VARIOUS REPORT IMAGE CARDS~~~~~~~~~~ */
.reportCont {
  width: var(--desktopContsWidth);
  margin: 0 0 30px 30px;
}
.reportImgCard {
  border-radius: var(--cardRadius);
  text-align: right;
  height: 75px;
  padding-right: 15px;
}
#workImgCard {
  background-color: hsl(15, 100%, 70%);
}
#playImgCard {
  background-color: hsl(195, 74%, 62%);
}
#studyImgCard {
  background-color: hsl(348, 100%, 68%);
}
#exerciseImgCard {
  background-color: hsl(145, 58%, 55%);
}
#socialImgCard {
  background-color: hsl(264, 64%, 52%);
}
#selfCareImgCard {
  background-color: hsl(43, 84%, 65%);
}
/* ~~~~~~~~~VARIOUS REPORT CARDS~~~~~~~~~~ */
.reportCard {
  background-color: var(--infoCardBgColor);
  border-radius: var(--cardRadius);
  transition: var(--transitionTime);
  position: absolute;
  width: var(--desktopCardWidth);
  height: var(--desktopCardHeight);
  z-index: 1;
  padding: var(--cardPadding);
}
.reportsRow1 .reportCard {
  top: 95px;
}
.reportsRow2 .reportCard {
  top: 370px;
}
.reportCard:hover {
  transition: var(--transitionTime);
  background-color: var(--cardHoverBgColor);
}
.reportCard h4 {
  font-size: var(--cardHeaderFontSize);
  font-weight: 500;
}
.row1 {
  display: flex;
  justify-content: space-between;
}
.ellipsisCont {
  align-self: center;
}
.ellipsisCont a {
  transition: var(--transitionTime);
}
.ellipsisCont a path {
  fill: #bbc0ff;
}
.ellipsisCont a:hover path {
  fill: white;
  transition: var(--transitionTime);
}
.row2 {
  display: flex;
  flex-direction: column;
}
.currentHours {
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}
.previousHours {
  margin: 0;
  margin-top: 10px;
  color: var(--paleBlue);
}
@media only screen and (max-width: 700px) {
  :root {
    --mobileContsWidth: 325px;
    --mobileCardWidth: 325px;
    --mobileCardHeight: 95px;
  }
  .mainCont {
    width: 325px;
    height: unset;
    /* margin: 50px; */
    /* display: flex; */
    flex-direction: column;
    /* border: 3px solid white; */
  }
  /* ~~~~~~~~~PROFILE CARD~~~~~~~~~~ */
  .profileReportTypeCont {
    width: var(--mobileContsWidth);
  }
  .profileCard {
    /* background-color: hsl(246, 80%, 60%);
    border-radius: var(--cardRadius);
    */
    display: flex;
    justify-content: space-evenly;
    /* justify-items: center; */
    padding: 20px 0 20px 0;
    height: var(--mobileCardHeight);
    position: unset;
    z-index: unset;
    width: unset;
  }
  .profileImgCont {
    /* border: 3px solid white;
    border-radius: 50%; */
    align-self: center;
    height: 70px;
    width: 70px;
  }
  /*
  .profileCard img {
    height: 100%;
  } */
  .reportForCont {
    display: flex;
    flex-direction: column;
    color: var(--paleBlue);
    margin-top: unset;
    justify-content: center;
    /* margin-left: 10px; */
  }
  .reportForCont h1 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
  }
  .reportForCont h2 {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    color: white;
    letter-spacing: 1px;
  }
  /* ~~~~~~~~~REPORT TYPE CARD~~~~~~~~~~ */
  .reportTypeCard {
    /* background-color: var(--infoCardBgColor);
    border-radius: var(--cardRadius); */
    display: flex;
    height: var(--mobileCardHeight);
    width: var(--mobileCardWidth);
    padding: unset;
    position: unset;
    z-index: unset;
    top: unset;
  }
  /* .reportTypeCard a {
    transition: var(--transitionTime);
    color: var(--cardHoverBgColor);
    text-decoration: none;
  } */
  /* .reportTypeCard a:hover {
    transition: var(--transitionTime);
    color: white;
  } */
  .reportTypeCard h3 {
    font-size: var(--cardHeaderFontSize);
    font-weight: 300;
    font-size: 18px;
    padding-top: unset;
  }
  /* ~~~~~~~~~VARIOUS REPORT CARDSSSSS PLURAL CONTAINER~~~~~~~~~~ */
  .reportsCont {
    display: unset;
    /* flex-direction: column; */
  }
  .reportsRow1,
  .reportsRow2 {
    display: unset;
  }
  .reportsRow2 {
    margin-top: unset;
  }
  /* ~~~~~~~~~VARIOUS REPORT IMAGE CARDS~~~~~~~~~~ */
  .reportCont {
    width: var(--mobileContsWidth);
    margin: unset;
  }
  /* .reportImgCard {
    border-radius: var(--cardRadius);
    text-align: right;
    height: 75px;
    padding-right: 15px;
  } */
  /* #workImgCard {
    background-color: hsl(15, 100%, 70%);
  }
  #playImgCard {
    background-color: hsl(195, 74%, 62%);
  }
  #studyImgCard {
    background-color: hsl(348, 100%, 68%);
  }
  #exerciseImgCard {
    background-color: hsl(145, 58%, 55%);
  }
  #socialImgCard {
    background-color: hsl(264, 64%, 52%);
  }
  #selfCareImgCard {
    background-color: hsl(43, 84%, 65%);
  } */
  /* ~~~~~~~~~VARIOUS REPORT CARDS~~~~~~~~~~ */
  .reportCard {
    /* background-color: var(--infoCardBgColor);
    border-radius: var(--cardRadius);
    transition: var(--transitionTime); */
    position: unset;
    width: var(--mobileCardWidth);
    height: var(--mobileCardHeight);
    z-index: unset;
    padding: unset;
  }
  .reportsRow1 .reportCard {
    top: unset;
  }
  .reportsRow2 .reportCard {
    top: unset;
  }
  /* .reportCard:hover {
    transition: var(--transitionTime);
    background-color: var(--cardHoverBgColor);
  } */
  .reportCard h4 {
    font-size: var(--cardHeaderFontSize);
    font-weight: 500;
  }
  /* .row1 {
    display: flex;
    justify-content: space-between;
  } */
  /* .ellipsisCont {
    align-self: center;
  }
  .ellipsisCont a {
    transition: var(--transitionTime);
  }
  .ellipsisCont a path {
    fill: #bbc0ff;
  }
  .ellipsisCont a:hover path {
    fill: white;
    transition: var(--transitionTime);
  } */
  .row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .currentHours {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
  }
  .previousHours {
    margin: unset;
    margin-top: unset;
    /* color: var(--paleBlue); */
  }
}
